<style type="text/css">

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
</style>

<h3>Diagram</h3>
<div  class="panel panel-default">
<div class="panel-body" id="diagram"></div>
</div><script type="text/javascript">var data = %diagramDataVar%;dynatree(data, "#diagram");</script>

<h3>Property tree</h3>
<div  class="panel panel-default">
<div class="panel-body" id="example"><code>
%ptree% </code></div>
</div>

<h3>Turtle</h3>
<div  class="panel panel-default">
<div class="panel-body" id="example"><code>
%turtle%
</code></div>
</div>